/* .App {
  text-align: center;
} */

.mainUploadCont {
  background-image: url(../src/assets/bb_court.jpeg);
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
  height: 100vh;
}

.heading {
  display: flex;
  flex-direction: column;
  text-align: center;
  box-shadow: 0 0.2rem 1rem hsl(0 0% 0% / 20%);
  border-radius: 10px;
  padding: 80px 40px;
  background: #fff;
}

.uploadHeading {
  margin-bottom: 40px;
}

.uploadHeading h1 {
  font-weight: bold;
  color: #ee6730;
}

.uploadHeading p {
  color: #929292;
}

.dzu-inputLabel {
  color: #589ca4 !important;
}
