.container {
  margin: 0 auto;
  width: 640px;
}

/* .vidAnalyserBody {
  background-image: url(../../assets/rim.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
} */

.vidAnalyserBody {
  width: 100%;
  height: 100vh;
}

.rimBg {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.rimBg img {
  width: 100%;
  /* height: 100%; */
  opacity: 0.5;
}

.vidData {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  background-color: #ee6730;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: left;
  background-image: url(../../../public/loader.png);
  background-repeat: no-repeat;
  background-size: contain;
}

.MuiTypography-h4 {
  color: #fff;
  font-weight: bold;
  margin-bottom: 50px;
}

.main-header {
  display: flex;
  background-color: #324157;
  margin-bottom: 5px;
}
.main-header .app-name {
  color: white;
  margin: 0 2em 0 1em;
  font: 20px sans-serif;
  line-height: 40px;
  width: 100%;
}

.controls {
  margin-top: 5px;
  flex: 1;
  display: flex;
  flex-direction: row;
}

.control-list {
  display: flex;
  flex: 1;
  flex-direction: column;
}

button {
  background-color: #eee;
  border: 0;
  border-radius: 3px;
  cursor: pointer;
  margin: 0 10px;
  outline: 0;
  padding: 6px 12px;
}

label {
  cursor: pointer;
}
